.container {
  width: 100%;
  background-color: #323334;
}

.title {
  font-family: 'Roboto Mono', sans-serif;
  margin: 30px auto;
  font-size: 30px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 1023px) {
  .vscode {
    display: none;
  }
  .vscodeMobile {
    display: initial;
  }
  .mobileNone {
    display: none;
  }

  .btnContainer {
    display: none;
  }

  .btnContainerMobile {
    display: initial;
  }

  .title {
    margin-bottom: 0;
    margin-top: -60px;
  }
}

@media screen and (min-width: 1024px) {
  .vscode {
    display: initial;
  }

  .mobileNone {
    display: flex;
  }

  .vscodeMobile {
    display: none;
  }
  .btnContainer {
    display: flex;
  }

  .btnContainerMobile {
    display: none;
  }
}

@media screen and (min-width: 1441px) {
  .vscode {
    height: 600px;
  }
}
.footer {
  width: 100%;
  height: 15px;
  background-color: #81c8be;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.integrations {
  background-image: url('/assets/images/index/vscode.svg');
  background-size: cover;
  min-height: 470px;
}

html[data-theme='dark'] .title {
  color: white;
}

.img {
  width: 48px;
}

.label {
  display: block;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
}

.underline:after {
  content: '_';
  color: #be99ff;
}

.pinkBtn {
  background-color: #be99ff;
  color: white;
  border-radius: 2px;
  text-transform: uppercase;
  height: 40px;
  width: 90%;
  padding: 8px;
  display: block;
  margin: 0 auto;
}

.pinkBtn:hover {
  background-color: white;
  color: #be99ff;
}

.gridBtn {
  padding-top: 0;
}
.btnContainer {
  width: 100%;
  text-align: center;
  height: 100%;
  align-items: center;
}

.btnContainerMobile {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.imgLeftContainer > span {
  margin: -36px 0 0 -10px !important;
}

.imgLeft {
  margin-top: -50px;
  transform: rotate(180deg);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.imgRightContainer > span {
  float: right;
  margin: -20px 0 -12px 54px !important;
}

.imgRight {
  margin-bottom: -30px;
  float: right;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.head {
  width: 100%;
  height: 50px;
  border: 2px solid black;
  background-color: #323334;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.head > span {
  margin-left: 15px;
}

.hiwTitle {
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: block;
}

.player {
  background-color: #1e1e1e;
  color: white;
}

.docs {
  background-color: #323334;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.headButton > span {
  margin-left: 15px;
}

.icons {
  margin: 15px auto;
  display: block;
}

.video {
  background-color: #1e1e1e;
  color: white;
  border-right: 2px inset black;
}

.videoTitle {
  font-size: 18px;
  line-height: 30px;
}

.cardIcons {
  float: left;
  width: 24px;
  margin-top: 3px;
  padding-right: 5px;
}

.engine {
  color: white;
  padding: 7px;
  font-size: 12px;
  font-family: 'Roboto Mono', sans-serif;
  width: 100%;
  margin-left: 0;
}

.engine span {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 13px;
}

.engineActive span {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 13px;
}

.engineActive {
  color: black;
  background-color: #81c8be;
  padding: 7px;
  font-size: 12px;
  font-family: 'Roboto Mono', sans-serif;
  width: 100%;
  margin-left: 0;
}

.vscode {
  padding: 0;
}

.vscodeMobile {
  padding: 0;
}

.icoText {
  font-family: 'Roboto Mono', sans-serif;
}

html[data-theme='dark'] .head {
  background-color: #323334;
}

html[data-theme='dark'] .docs {
  background-color: #323334;
}

html[data-theme='dark'] .video {
  background-color: #1e1e1e;
  color: white;
}

html[data-theme='dark'] .engine {
  color: white;
}

html[data-theme='dark'] .player {
  background-color: #1e1e1e;
  color: white;
}

.imgLink {
  color: var(--mui-palette-theme-primary);
}
.imgLink:hover {
  text-decoration: none;
}

.imgLinkDesible {
  color: var(--mui-palette-theme-primary);
  cursor: default;
  pointer-events: none;
}
.imgLinkDesible:hover {
  color: black;
  text-decoration: none;
}
