.roadmap {
  background-color: var(--mui-palette-background-paper);

  .title {
    text-align: center;
    font-size: 28px;
    margin: 0;
    padding: 20px 0px;
  }

  .image {
    position: relative;
    height: 250px;
  }

  .tabLabel {
    text-transform: capitalize;
    color: var(--mui-palette-text-primary);
  }

  .subtitle {
    margin-bottom: 0;
  }

  .releaseDate {
    margin-top: 0;
  }

  .btn {
    color: var(--mui-palette-primary-main);
    border-color: var(--mui-palette-primary-main);
  }

  hr {
    margin-bottom: 24px;
    border: 1px solid var(--mui-palette-divider);
  }
}
