$black: #000;
$white: #fff;
$dark-purple: hsl(226, 23%, 11%);
$purple: #bd99ff;
$dark-blue: #282d3f;
$gray: #808080;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
