.container {
  width: 100%;
  margin-bottom: 10px;
  background-image: url('/assets/images/index/powered/nebula.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 90px;
}

.text {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
  color: black;
  padding-right: 60px;
}

.pinkBtn {
  width: 100%;
  height: 40px;
  border-radius: 2px !important;
  background-color: #be99ff !important;
  line-height: 0.8rem;
  font-size: 0.8rem;
  color: white !important;
  text-transform: uppercase;
}

.pinkBtn:hover {
  background-color: white !important;
  color: #be99ff !important;
}

.whiteBtn {
  width: 100%;
  height: 40px;
  border-radius: 2px !important;
  background-color: white !important;
  line-height: 0.8rem;
  font-size: 0.8rem;
  color: #be99ff !important;
  text-transform: uppercase;
}
.whiteBtn:hover {
  background-color: #be99ff !important;
  color: white !important;
}
.whiteBtn::after {
  content: url('/assets/images/index/powered/discord.svg');
  margin-top: 3px;
  margin-left: 10px;
}
.whiteBtn:hover::after {
  content: url('/assets/images/index/powered/discord-white.svg');
  margin-top: 3px;
  margin-left: 10px;
}

.videoBtn {
  width: 100%;
  height: 40px;
  border: 2px solid #be99ff !important;
  border-radius: 2px !important;
  background-color: transparent !important;
  color: #be99ff !important;
  text-transform: uppercase;
}

.cardIcons {
  float: left !important;
  width: 24px;
  margin-top: 3px;
  padding-right: 5px;
}

.engine {
  color: black;
  background-color: #81c8be;
  padding: 5px;
  font-size: 12px;
  font-family: 'Roboto Mono';
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 90px;
  }

  .pinkBtn {
    margin-bottom: 15px !important;
  }

  .whiteBtn {
    margin-bottom: 15px !important;
    font-size: 12px !important;
  }

  .mobileNone {
    display: none !important;
  }

  .text {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .mobileNone {
    display: initial !important;
  }

  .videoBtn {
    display: none !important;
  }
}
