@import 'src/styles/variables.scss';

.error {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
  min-height: 500px;
  font-family: 'Roboto Mono';
  text-align: center;
  border-radius: 2px;

  input {
    display: block;
  }
  .container {
    margin: 70px auto;
  }

  .button {
    font-family: 'Roboto mono';
    color: white !important;
    border: 1px solid $gray !important;
    background-color: $gray !important;
    height: 45px;
    margin: 15px auto !important;
    width: 80%;
  }

  .button:hover {
    color: $gray !important;
    background-color: white !important;
  }
}
