.vscodeHeader {
  position: relative;
  background-color: var(--mui-palette-background-default);
  height: 50px;
  line-height: 50px;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.vscodeHeaderButtons {
  position: absolute;
  top: 2px;
  left: 5px;
}

.vscodeHeaderTitle {
  color: var(--mui-palette-text-primary);
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.vscodeHeaderTitle::after {
  content: '_';
  color: var(--mui-palette-primary-main);
}

.vscodeContent {
  color: var(--mui-palette-text-primary);
}

.vscodeContentSidebar {
  flex-direction: column;
  align-content: center;
  padding: 4px 8px;

  background-color: var(--mui-palette-background-default);
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.vscodeContentSidebar > span,
.vscodeContentSidebarIcons {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.vscodeContentLeft {
  background-color: var(--mui-palette-background-default);

  .vscodeContentLeftGroup {
    width: 100%;

    .carouselValue {
      width: 100%;
      margin: 0;
      padding: 1vh 0.5vw;
      font-size: 0.9vw;
      line-height: 1vw;
    }
    .carouselValueActive {
      position: relative;
      color: var(--mui-palette-text-secondary);
      background-color: var(--mui-palette-primary-main);
    }
    .carouselValueActive::after {
      content: '';
      position: absolute;
      right: 0;
      background: repeating-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 50%,
        rgba(var(--mui-palette-common-backgroundChannel) / 50%) 100%
      );
      width: 100%;
      height: 100%;
      background-size: 200% auto;
      background-position: 0 100%;
      animation: gradient 4s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }

    @keyframes gradient {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -100% 0;
      }
    }
  }
}

.vscodeContentRight {
  color: var(--mui-palette-text-primary);
  background-color: var(--mui-palette-background-paper);
  border-right: 2px solid black;
}

.vscodeFooter {
  height: 15px;
  background-color: var(--mui-palette-secondary-main);
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
